.showgenre-parent {
    z-index: 99;
    width: 100vw;
    height: 90vh;
    left: 0;
    bottom: 0;
    cursor: pointer;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(4px);
    /* leve desfoque de fundo */
    background-color: rgba(0, 0, 0, 0.3);
    /* escurece levemente o fundo */
}

.showgenre-container {
    height: 70vh;
    width: 80vw;
    max-width: 800px;
    background-color: var(--color-five);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    cursor: default;
}

.showgenre-list {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.showgenre-item {
    background-color: var(--color-three);
    color: var(--color-text, #fff);
    padding: 12px;
    height: auto;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.2s ease, background-color 0.2s ease;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.showgenre-item:hover {
    background-color: var(--color-hover);
}