.game-container {
    width: 80vw;
    max-width: 1200px;
    height: 80vh;
    background-color: var(--color-three);
    border-radius: 15px;
    display: grid;
    grid-template-rows: 35% 60%;
    gap: 30px;
}

.game-screen {
    background-color: white;
    background-image: url('../public/images/tv.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
    aspect-ratio: 1 / 1;
    justify-self: center;
}

.respostas-container {
    display: grid;
    grid-template-columns: 50% 50%;

}

.respostas {
    cursor: pointer;
    margin: 20px;
    background-color: var(--color-one);
    place-self: center;
    place-content: center;
    text-align: center;
    height: 100px;
    width: 200px;
    border-radius: 15px;
    color: var(--color-white);

}

.respostas:hover {
    opacity: .8;
    font-size: larger;
}