/* styles/globals.css */
:root {
    --color-one: #4B73E5;
    --color-two: #678BEC;
    --color-three: #83A3F2;
    --color-four: #9FBAF9;
    --color-five: #BBD2FF;
    --color-white: #FFFFFF;
    --color-black: #000000;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    /* Padrão para texto */
    text-decoration: none;
    font-weight: bold;
    font-size: large;
    color: var(--color-white);
}

body {
    background-color: var(--background-one);
    color: var(--text-color);
}

h1 {
    color: var(--primary-color);
}