header {
    background-color: var(--color-two);
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}

.homeOptions {
    text-decoration: none;
    font-weight: bold;
    font-size: larger;
    color: var(--color-white);
}

.homeOptions:hover {
    font-size: x-large;
}