header {
    background-color: var(--color-two);
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.homeOptions {
    background-color: var(--color-one);
    border-radius: 10px;
    font-size: large;
    padding: 10px;
    margin: 10px;
}

.homeOptions:hover {
    background-color: var(--color-three);
}