body {
    background-color: var(--color-one);
}

.home-container {
    width: 80%;
    height: 90vh;
    padding: 20px;
    background-color: var(--color-three);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.card-container {
    background-color: var(--color-two);
    border-radius: 10px;
    width: 75%;
    height: 30%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 20px;
}

.card-container * {
    font-size: 2rem;
}

.card-button {
    cursor: pointer;
    padding: 20px;
    /* width: 40%; */
    background-color: var(--color-white);
    border-radius: 20px;
    color: var(--color-black);
    text-align: center;
}

.card-button:hover {
    box-shadow: 10px 5px 5px var(--color-black);
}

.card-with-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2%;
}