.avatar-parent {
    z-index: 99;
    width: 100vw;
    height: 90vh;
    bottom: 0;
    cursor: pointer;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar-container {
    height: 60vh;
    aspect-ratio: 1/1;
    position: absolute;
    background-color: var(--color-five);
    border-radius: 40px;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    padding: 20px;
    align-items: center;
    justify-items: center;
}

.avatar-content {
    height: 60%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-size: contain;
    cursor: pointer;
}

.avatar-content:hover {
    height: 70%;
}