.profile-container {
    background-color: var(--color-two);
    width: 30vw;
    height: 90vh;
    display: flex;
    position: absolute;
    bottom: 0px;
    right: 0px;
    z-index: 99;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
}

.perfil {
    border-radius: 50%;
    background-color: var(--color-black);
    width: 60%;
    aspect-ratio: 1 / 1;
    color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.perfil:hover {
    opacity: .8;
    color: white;

}

.info-item {
    margin: 10px;
    width: 100%;
    overflow: auto;
    max-width: 300px;
    padding: 10px;
    border: solid 1px var(--color-black);
    border-radius: 15px;
}

.log-button {

    display: flex;
    height: 40px;
    width: 100px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    font-size: large;
    font-weight: bold;
    color: var(--color-white);
    background-color: var(--color-one);
    cursor: pointer;
}

.login-container {
    padding: 20%;
    width: 30vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}